orchestrateur/ComputeAndSend.json
[{"id":"1bb35406.e2710c","type":"tab","label":"ComputeAndSend","disabled":false,"info":""},{"id":"da92303c.2dd9a","type":"inject","z":"1bb35406.e2710c","name":"GetWeather","topic":"","payload":"weather?lat=35&lon=139&APPID=300b4e2533f026d26227b26cffcb8c60","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":"1","x":170,"y":100,"wires":[["d3cb0336.b206a"]]},{"id":"9b2982b4.75e2d","type":"http request","z":"1bb35406.e2710c","name":"Get weather","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/{{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":100,"wires":[["d3a04d24.641e5","19394fd9.56624"]]},{"id":"d3a04d24.641e5","type":"debug","z":"1bb35406.e2710c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":100,"wires":[]},{"id":"d3cb0336.b206a","type":"change","z":"1bb35406.e2710c","name":"Switch","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":100,"wires":[["9b2982b4.75e2d"]]},{"id":"1fdcfa64.e170f6","type":"function","z":"1bb35406.e2710c","name":"BRAIN","func":"var co2 = global.get('co2');\nvar temperature = global.get('temperature');\nvar sound = global.get('sound');\nvar weather = global.get('weather');\n\nreturn msg;","outputs":3,"noerr":0,"x":390,"y":300,"wires":[["765fd44a.0c95bc"],["cfc0787d.2d8c98"],["c31a3937.ee0df8"]]},{"id":"7ac02531.27597c","type":"inject","z":"1bb35406.e2710c","name":"SetInterval","topic":"","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":false,"onceDelay":"1","x":170,"y":300,"wires":[[]]},{"id":"19394fd9.56624","type":"function","z":"1bb35406.e2710c","name":"SaveWeather","func":"global.set('weather', msg.payload);","outputs":0,"noerr":0,"x":920,"y":160,"wires":[]},{"id":"765fd44a.0c95bc","type":"http request","z":"1bb35406.e2710c","name":"Post buzzer","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.43.225:1880/buzzer","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":220,"wires":[[]]},{"id":"cfc0787d.2d8c98","type":"http request","z":"1bb35406.e2710c","name":"Post LED","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.43.225:1880/led","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":300,"wires":[[]]},{"id":"c31a3937.ee0df8","type":"http request","z":"1bb35406.e2710c","name":"Post vibrator","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.43.101:1880/vibrator","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":380,"wires":[[]]},{"id":"3ab4229c.9ba45e","type":"inject","z":"1bb35406.e2710c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["c31a3937.ee0df8"]]}]