orchestrateur/flows.json
[{"id":"5f581ca4.879404","type":"tab","label":"Orchestrateur - send","disabled":false,"info":""},{"id":"ffc8b779.9ac018","type":"tab","label":"Orchestrateur - receive","disabled":false,"info":""},{"id":"e633e845.35ef58","type":"mqtt-broker","z":"","name":"Broker","broker":"192.168.43.172","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7b3c4776.1a26a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6784a3f5.af000c","type":"ui_group","z":"","name":"Watch informations","tab":"7b3c4776.1a26a8","disp":true,"width":"6","collapse":false},{"id":"731b3cdf.d490f4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#006fa4","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#006fa4","edited":true},"page-titlebar-backgroundColor":{"value":"#006fa4","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#00a3f0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#006fa4","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Black Box Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"17e07c62.a58c94","type":"firebase config","z":"","firebaseurl":"black-box-a815e","loginType":"none"},{"id":"6d1638f3.a644d8","type":"inject","z":"5f581ca4.879404","name":"GetWeather","topic":"","payload":"weather?lat=35&lon=139&APPID=300b4e2533f026d26227b26cffcb8c60","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":"1","x":170,"y":140,"wires":[[]]},{"id":"f3657bda.dd7c58","type":"http request","z":"5f581ca4.879404","name":"Get weather","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/{{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":140,"wires":[["168b3512.d9e73b","e533736a.ae495"]]},{"id":"168b3512.d9e73b","type":"debug","z":"5f581ca4.879404","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":100,"wires":[]},{"id":"70a31d2b.299f04","type":"change","z":"5f581ca4.879404","name":"Switch","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":140,"wires":[["f3657bda.dd7c58"]]},{"id":"53feac6c.597004","type":"firebase modify","z":"ffc8b779.9ac018","name":"update sound","firebaseconfig":"17e07c62.a58c94","childpath":"device-1/sound","method":"set","value":"msg.payload","priority":"msg.priority","x":860,"y":160,"wires":[[]]},{"id":"de865dfb.d973a","type":"firebase modify","z":"ffc8b779.9ac018","name":"update temperature","firebaseconfig":"17e07c62.a58c94","childpath":"device-1/temperature","method":"set","value":"msg.payload","priority":"msg.priority","x":870,"y":60,"wires":[[]]},{"id":"8f04f005.69894","type":"firebase modify","z":"ffc8b779.9ac018","name":"update co2","firebaseconfig":"17e07c62.a58c94","childpath":"device-1/co2","method":"set","value":"msg.payload","priority":"msg.priority","x":850,"y":260,"wires":[[]]},{"id":"69682672.6bdea8","type":"mqtt in","z":"ffc8b779.9ac018","name":"receive temperature","topic":"temperature","qos":"0","datatype":"auto","broker":"e633e845.35ef58","x":150,"y":60,"wires":[["19f8604a.8c96"]]},{"id":"30ce13ae.149fcc","type":"mqtt in","z":"ffc8b779.9ac018","name":"receive sound","topic":"sound","qos":"0","datatype":"auto","broker":"e633e845.35ef58","x":130,"y":160,"wires":[["ff8dfc6c.bf121"]]},{"id":"5b7cce06.5a313","type":"mqtt in","z":"ffc8b779.9ac018","name":"receive co2","topic":"co2","qos":"0","datatype":"auto","broker":"e633e845.35ef58","x":130,"y":260,"wires":[["dc0df7fb.de4368"]]},{"id":"e533736a.ae495","type":"mqtt out","z":"5f581ca4.879404","name":"send weather","topic":"weather","qos":"","retain":"","broker":"e633e845.35ef58","x":960,"y":180,"wires":[]},{"id":"567cd0d.44c643","type":"mqtt in","z":"ffc8b779.9ac018","name":"receive led","topic":"led","qos":"0","datatype":"auto","broker":"e633e845.35ef58","x":120,"y":360,"wires":[["fba90829.af6f78"]]},{"id":"29f9e44.934aa1c","type":"firebase modify","z":"ffc8b779.9ac018","name":"update led","firebaseconfig":"17e07c62.a58c94","childpath":"device-1/led","method":"set","value":"msg.payload","priority":"msg.priority","x":850,"y":360,"wires":[[]]},{"id":"5b0bc506.6b1dbc","type":"mqtt in","z":"ffc8b779.9ac018","name":"receive buzzer","topic":"buzzer","qos":"0","datatype":"auto","broker":"e633e845.35ef58","x":140,"y":460,"wires":[["35a2cdfb.bfa872"]]},{"id":"77c8ccfe.1d30a4","type":"mqtt in","z":"ffc8b779.9ac018","name":"receive vibrator","topic":"vibrator","qos":"0","datatype":"auto","broker":"e633e845.35ef58","x":140,"y":560,"wires":[["f021247c.64ec18"]]},{"id":"9a39cf6e.5b68","type":"firebase modify","z":"ffc8b779.9ac018","name":"update buzzer","firebaseconfig":"17e07c62.a58c94","childpath":"device-1/buzzer","method":"set","value":"msg.payload","priority":"msg.priority","x":860,"y":460,"wires":[[]]},{"id":"5c403364.064c1c","type":"firebase modify","z":"ffc8b779.9ac018","name":"update vibrator","firebaseconfig":"17e07c62.a58c94","childpath":"device-1/vibrator","method":"set","value":"msg.payload","priority":"msg.priority","x":860,"y":560,"wires":[[]]},{"id":"6218d0bb.76d96","type":"firebase.on","z":"5f581ca4.879404","name":"get profile","firebaseconfig":"17e07c62.a58c94","childpath":"device-1/profile","atStart":true,"eventType":"value","queries":[],"x":140,"y":320,"wires":[["39847f23.25323"]]},{"id":"39847f23.25323","type":"mqtt out","z":"5f581ca4.879404","name":"send profile","topic":"profile","qos":"","retain":"","broker":"e633e845.35ef58","x":670,"y":320,"wires":[]},{"id":"19f8604a.8c96","type":"delay","z":"ffc8b779.9ac018","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":60,"wires":[["de865dfb.d973a"]]},{"id":"ff8dfc6c.bf121","type":"delay","z":"ffc8b779.9ac018","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":160,"wires":[["53feac6c.597004"]]},{"id":"dc0df7fb.de4368","type":"delay","z":"ffc8b779.9ac018","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":260,"wires":[["8f04f005.69894"]]},{"id":"fba90829.af6f78","type":"delay","z":"ffc8b779.9ac018","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":360,"wires":[["29f9e44.934aa1c"]]},{"id":"35a2cdfb.bfa872","type":"delay","z":"ffc8b779.9ac018","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":460,"wires":[["9a39cf6e.5b68"]]},{"id":"f021247c.64ec18","type":"delay","z":"ffc8b779.9ac018","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":560,"wires":[["5c403364.064c1c"]]},{"id":"2a7a6e4d.d66892","type":"firebase modify","z":"ffc8b779.9ac018","name":"update accelerometer","firebaseconfig":"17e07c62.a58c94","childpath":"device-1/accelerometer","method":"set","value":"msg.payload","priority":"msg.priority","x":880,"y":660,"wires":[[]]},{"id":"7afb5da1.ca64d4","type":"mqtt in","z":"ffc8b779.9ac018","name":"receive accelerometer","topic":"accelerometer","qos":"0","datatype":"auto","broker":"e633e845.35ef58","x":160,"y":660,"wires":[["d02d1d01.87e04"]]},{"id":"d02d1d01.87e04","type":"delay","z":"ffc8b779.9ac018","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":660,"wires":[["2a7a6e4d.d66892"]]}]