orchestrateur/orchestrateur.json
[{"id":"3e0900bf.7406e","type":"tab","label":"Orchestrateur - send","disabled":false,"info":""},{"id":"8cacd4ac.b80ae8","type":"tab","label":"Orchestrateur - receive","disabled":false,"info":""},{"id":"1a90402b.85b81","type":"ui_group","z":"","name":"Temperature","tab":"","disp":true,"width":"6","collapse":false},{"id":"cfba9726.533b18","type":"mqtt-broker","z":"","name":"http://localhost:1880/#mqtt-broker-tab-security","broker":"hairdresser.cloudmqtt.com","port":"18531","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"sensors/sensor1/status","birthQos":"2","birthRetain":"true","birthPayload":"0","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"46f70fbb.ed25a","type":"firebase config","z":"","firebaseurl":"black-box-a815e","loginType":"none"},{"id":"349684dd.e9ce3c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"236f5324.724d2c","type":"mqtt-broker","z":"","name":"Broker","broker":"192.168.43.172","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a06e261f.bb7ec8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3dbafd7e.39d8d2","type":"ui_group","z":"","name":"Watch informations","tab":"a06e261f.bb7ec8","disp":true,"width":"6","collapse":false},{"id":"a0c7147a.863cd8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#006fa4","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#006fa4","edited":true},"page-titlebar-backgroundColor":{"value":"#006fa4","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#00a3f0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#006fa4","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Black Box Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2e5ea967.17bf36","type":"firebase config","z":"","firebaseurl":"black-box-a815e","loginType":"none"},{"id":"d166b6c0.2d3308","type":"inject","z":"3e0900bf.7406e","name":"GetWeather","topic":"","payload":"weather?lat=35&lon=139&APPID=300b4e2533f026d26227b26cffcb8c60","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":"1","x":170,"y":140,"wires":[[]]},{"id":"9f8de8c1.cb8378","type":"http request","z":"3e0900bf.7406e","name":"Get weather","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/{{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":140,"wires":[["e7f3cb52.497128","ca14f62e.8d7ac8"]]},{"id":"e7f3cb52.497128","type":"debug","z":"3e0900bf.7406e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":100,"wires":[]},{"id":"2a6da7d4.c10cb8","type":"change","z":"3e0900bf.7406e","name":"Switch","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":140,"wires":[["9f8de8c1.cb8378"]]},{"id":"d866c51c.b5d4c8","type":"firebase modify","z":"8cacd4ac.b80ae8","name":"update sound","firebaseconfig":"2e5ea967.17bf36","childpath":"device-1/sound","method":"set","value":"msg.payload","priority":"msg.priority","x":860,"y":160,"wires":[[]]},{"id":"bdb09c9f.b95e2","type":"firebase modify","z":"8cacd4ac.b80ae8","name":"update temperature","firebaseconfig":"2e5ea967.17bf36","childpath":"device-1/temperature","method":"set","value":"msg.payload","priority":"msg.priority","x":870,"y":60,"wires":[[]]},{"id":"ac943392.d81d7","type":"firebase modify","z":"8cacd4ac.b80ae8","name":"update co2","firebaseconfig":"2e5ea967.17bf36","childpath":"device-1/co2","method":"set","value":"msg.payload","priority":"msg.priority","x":850,"y":260,"wires":[[]]},{"id":"b9b25351.74377","type":"mqtt in","z":"8cacd4ac.b80ae8","name":"receive temperature","topic":"temperature","qos":"0","datatype":"auto","broker":"236f5324.724d2c","x":150,"y":60,"wires":[["5530532d.ad75cc"]]},{"id":"d914d398.8c5ef","type":"mqtt in","z":"8cacd4ac.b80ae8","name":"receive sound","topic":"sound","qos":"0","datatype":"auto","broker":"236f5324.724d2c","x":130,"y":160,"wires":[["6e5d6752.acc748"]]},{"id":"42b8cca.164d334","type":"mqtt in","z":"8cacd4ac.b80ae8","name":"receive co2","topic":"co2","qos":"0","datatype":"auto","broker":"236f5324.724d2c","x":130,"y":260,"wires":[["4209f0f3.87a85"]]},{"id":"ca14f62e.8d7ac8","type":"mqtt out","z":"3e0900bf.7406e","name":"send weather","topic":"weather","qos":"","retain":"","broker":"236f5324.724d2c","x":960,"y":180,"wires":[]},{"id":"c3460a1b.2ee998","type":"mqtt in","z":"8cacd4ac.b80ae8","name":"receive led","topic":"led","qos":"0","datatype":"auto","broker":"236f5324.724d2c","x":120,"y":360,"wires":[["1080927a.97a72e"]]},{"id":"47f0029d.fe045c","type":"firebase modify","z":"8cacd4ac.b80ae8","name":"update led","firebaseconfig":"2e5ea967.17bf36","childpath":"device-1/led","method":"set","value":"msg.payload","priority":"msg.priority","x":850,"y":360,"wires":[[]]},{"id":"967e1425.fa3fb8","type":"mqtt in","z":"8cacd4ac.b80ae8","name":"receive buzzer","topic":"buzzer","qos":"0","datatype":"auto","broker":"236f5324.724d2c","x":140,"y":460,"wires":[["8ddea1bf.21f64"]]},{"id":"9c084e9b.70593","type":"mqtt in","z":"8cacd4ac.b80ae8","name":"receive vibrator","topic":"vibrator","qos":"0","datatype":"auto","broker":"236f5324.724d2c","x":140,"y":560,"wires":[["81b5c23a.55c92"]]},{"id":"707e10f4.a0209","type":"firebase modify","z":"8cacd4ac.b80ae8","name":"update buzzer","firebaseconfig":"2e5ea967.17bf36","childpath":"device-1/buzzer","method":"set","value":"msg.payload","priority":"msg.priority","x":860,"y":460,"wires":[[]]},{"id":"e3b47c5.8ca3c8","type":"firebase modify","z":"8cacd4ac.b80ae8","name":"update vibrator","firebaseconfig":"2e5ea967.17bf36","childpath":"device-1/vibrator","method":"set","value":"msg.payload","priority":"msg.priority","x":860,"y":560,"wires":[[]]},{"id":"51d1a45f.d7c6ec","type":"firebase.on","z":"3e0900bf.7406e","name":"get profile","firebaseconfig":"2e5ea967.17bf36","childpath":"device-1/profile","atStart":true,"eventType":"value","queries":[],"x":140,"y":320,"wires":[["9260c59b.81b2f8"]]},{"id":"9260c59b.81b2f8","type":"mqtt out","z":"3e0900bf.7406e","name":"send profile","topic":"profile","qos":"","retain":"","broker":"236f5324.724d2c","x":670,"y":320,"wires":[]},{"id":"5530532d.ad75cc","type":"delay","z":"8cacd4ac.b80ae8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":60,"wires":[["bdb09c9f.b95e2"]]},{"id":"6e5d6752.acc748","type":"delay","z":"8cacd4ac.b80ae8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":160,"wires":[["d866c51c.b5d4c8"]]},{"id":"4209f0f3.87a85","type":"delay","z":"8cacd4ac.b80ae8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":260,"wires":[["ac943392.d81d7"]]},{"id":"1080927a.97a72e","type":"delay","z":"8cacd4ac.b80ae8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":360,"wires":[["47f0029d.fe045c"]]},{"id":"8ddea1bf.21f64","type":"delay","z":"8cacd4ac.b80ae8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":460,"wires":[["707e10f4.a0209"]]},{"id":"81b5c23a.55c92","type":"delay","z":"8cacd4ac.b80ae8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":560,"wires":[["e3b47c5.8ca3c8"]]},{"id":"31aeec7c.5964e4","type":"firebase modify","z":"8cacd4ac.b80ae8","name":"update accelerometer","firebaseconfig":"2e5ea967.17bf36","childpath":"device-1/accelerometer","method":"set","value":"msg.payload","priority":"msg.priority","x":880,"y":660,"wires":[[]]},{"id":"6a218db5.0bd654","type":"mqtt in","z":"8cacd4ac.b80ae8","name":"receive accelerometer","topic":"accelerometer","qos":"0","datatype":"auto","broker":"236f5324.724d2c","x":160,"y":660,"wires":[["dcdb0b0e.cbb328"]]},{"id":"dcdb0b0e.cbb328","type":"delay","z":"8cacd4ac.b80ae8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":660,"wires":[["31aeec7c.5964e4"]]}]