orchestrateur/orchestrateur.json
[{"id":"3aaaf079.ee833","type":"tab","label":"Orchestrateur - send","disabled":false,"info":""},{"id":"551a2f8.47cfbd","type":"tab","label":"Orchestrateur - receive","disabled":false,"info":""},{"id":"46b5afda.447db","type":"mqtt-broker","z":"","name":"Broker","broker":" 172.20.10.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eab3c915.b48bd8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"fba8a5b1.4d7468","type":"ui_group","z":"","name":"Watch informations","tab":"eab3c915.b48bd8","disp":true,"width":"6","collapse":false},{"id":"45acc43b.127a3c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#006fa4","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#006fa4","edited":true},"page-titlebar-backgroundColor":{"value":"#006fa4","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#00a3f0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#006fa4","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Black Box Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"31819064.4406","type":"mqtt-broker","z":"","name":"Broker","broker":"192.168.43.172","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"39c034db.29bb0c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ccfffd89.afba3","type":"ui_group","z":"","name":"Watch informations","tab":"39c034db.29bb0c","disp":true,"width":"6","collapse":false},{"id":"7102d309.09bf0c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#006fa4","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#006fa4","edited":true},"page-titlebar-backgroundColor":{"value":"#006fa4","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#00a3f0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#006fa4","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Black Box Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4760d2b0.215d2c","type":"mqtt-broker","z":"","name":"Broker","broker":"192.168.43.172","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"60fb982e.b2a168","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"50496ef0.5426","type":"ui_group","z":"","name":"Watch informations","tab":"60fb982e.b2a168","disp":true,"width":"6","collapse":false},{"id":"9f591960.389688","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#006fa4","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#006fa4","edited":true},"page-titlebar-backgroundColor":{"value":"#006fa4","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#00a3f0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#006fa4","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Black Box Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"94a6b4b7.d8a298","type":"firebase config","z":"","firebaseurl":"black-box-a815e","loginType":"none"},{"id":"78f09959.113278","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"785e2699.b69d98","type":"ui_group","z":"","name":"Temperature","tab":"","disp":true,"width":"6","collapse":false},{"id":"4f18d1a7.e44ff","type":"mqtt-broker","z":"","name":"http://localhost:1880/#mqtt-broker-tab-security","broker":"hairdresser.cloudmqtt.com","port":"18531","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"sensors/sensor1/status","birthQos":"2","birthRetain":"true","birthPayload":"0","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7e869c94.025994","type":"firebase config","z":"","firebaseurl":"black-box-a815e","loginType":"none"},{"id":"b0c0fb03.0c9cc8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8d06e686.f4c548","type":"mqtt-broker","z":"","name":"Broker","broker":"192.168.43.172","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"705c676.8084998","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"eee382c9.d2eaf","type":"ui_group","z":"","name":"Watch informations","tab":"705c676.8084998","disp":true,"width":"6","collapse":false},{"id":"667d3f1f.cfa19","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#006fa4","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#006fa4","edited":true},"page-titlebar-backgroundColor":{"value":"#006fa4","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#00a3f0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#006fa4","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Black Box Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"935e1637.ee8148","type":"firebase config","z":"","firebaseurl":"black-box-a815e","loginType":"none"},{"id":"e1cd0e0b.e42ed","type":"mqtt-broker","z":"","name":"Broker","broker":"192.168.43.172","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bdefe4d4.c5ace8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"8428b3b0.90c5f","type":"ui_group","z":"","name":"Watch informations","tab":"bdefe4d4.c5ace8","disp":true,"width":"6","collapse":false},{"id":"8a36cd68.58d6b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#006fa4","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#006fa4","edited":true},"page-titlebar-backgroundColor":{"value":"#006fa4","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#00a3f0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#006fa4","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Black Box Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a5deef57.db4e6","type":"firebase config","z":"","firebaseurl":"black-box-a815e","loginType":"none"},{"id":"2a72222b.e86c8e","type":"ui_group","z":"","name":"Temperature","tab":"","disp":true,"width":"6","collapse":false},{"id":"b8a77d2f.512d5","type":"mqtt-broker","z":"","name":"http://localhost:1880/#mqtt-broker-tab-security","broker":"hairdresser.cloudmqtt.com","port":"18531","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"sensors/sensor1/status","birthQos":"2","birthRetain":"true","birthPayload":"0","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ef856cfa.b17","type":"firebase config","z":"","firebaseurl":"black-box-a815e","loginType":"none"},{"id":"248618e8.23bf18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"36eaeffc.9d11e","type":"mqtt-broker","z":"","name":"Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6efb76f9.c01638","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d429a918.9c0e68","type":"ui_group","z":"","name":"Watch informations","tab":"6efb76f9.c01638","disp":true,"width":"6","collapse":false},{"id":"bc90cc0c.c80c9","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#006fa4","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#006fa4","edited":true},"page-titlebar-backgroundColor":{"value":"#006fa4","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#00a3f0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#006fa4","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Black Box Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a8f58380.f0b04","type":"firebase config","z":"","firebaseurl":"black-box-a815e","loginType":"none"},{"id":"5181696c.3ba628","type":"mqtt in","z":0,"name":"receive weather","topic":"weather","qos":"1","datatype":"auto","broker":"31819064.4406","x":180,"y":100,"wires":[["d98642cf.5a15c"]]},{"id":"e8e0aef9.dab4d","type":"function","z":0,"name":"save weather","func":"global.set('weather', msg.payload);","outputs":0,"noerr":0,"x":830,"y":100,"wires":[]},{"id":"4b9451e6.a001a","type":"mqtt in","z":0,"name":"receive profile","topic":"profile","qos":"1","datatype":"auto","broker":"31819064.4406","x":170,"y":180,"wires":[["2f04a408.926d3c"]]},{"id":"695e0994.ebf038","type":"function","z":0,"name":"save profile","func":"global.set('profile', msg.payload);","outputs":0,"noerr":0,"x":830,"y":180,"wires":[]},{"id":"2f04a408.926d3c","type":"json","z":0,"name":"","property":"payload","action":"","pretty":false,"x":510,"y":180,"wires":[["695e0994.ebf038"]]},{"id":"d98642cf.5a15c","type":"json","z":0,"name":"","property":"payload","action":"","pretty":false,"x":510,"y":100,"wires":[["e8e0aef9.dab4d"]]},{"id":"5fe935ec.7afcac","type":"function","z":0,"name":"set default profile","func":"if(!global.get(\"profile\")){\n    global.set('profile', msg.payload);\n}\n","outputs":0,"noerr":0,"x":850,"y":280,"wires":[]},{"id":"adcad3ce.3f88a","type":"inject","z":0,"name":"first start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":160,"y":280,"wires":[["d69d4820.0bbf98"]]},{"id":"74a6d90d.95e548","type":"json","z":0,"name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":280,"wires":[["5fe935ec.7afcac"]]},{"id":"d69d4820.0bbf98","type":"function","z":0,"name":"create","func":"msg.payload = {\"maxCo2\":3,\"maxSound\":100,\"maxTemperature\":40,\"minCo2\":0,\"minSound\":10,\"minTemperature\":20,\"name\":\"default\", \"checkFall\" : false}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["74a6d90d.95e548"]]},{"id":"32ef976b.3df748","type":"mqtt in","z":0,"name":"receive fall","topic":"fall","qos":"1","datatype":"auto","broker":"31819064.4406","x":160,"y":380,"wires":[["3ba23eea.fe7c12"]]},{"id":"3ba23eea.fe7c12","type":"function","z":0,"name":"save fall","func":"global.set('accelerometerDanger', msg.payload);","outputs":0,"noerr":0,"x":820,"y":380,"wires":[]},{"id":"5d474c92.e6cab4","type":"inject","z":"3aaaf079.ee833","name":"GetWeather","topic":"","payload":"weather?lat=35&lon=139&APPID=300b4e2533f026d26227b26cffcb8c60","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":"1","x":170,"y":140,"wires":[[]]},{"id":"b8bf709a.62cb1","type":"http request","z":"3aaaf079.ee833","name":"Get weather","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/{{{query}}}","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":140,"wires":[["eb929a1c.ea16e8","65da2ca.d5f91d4"]]},{"id":"eb929a1c.ea16e8","type":"debug","z":"3aaaf079.ee833","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":100,"wires":[]},{"id":"fec0cb5b.db5018","type":"change","z":"3aaaf079.ee833","name":"Switch","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":140,"wires":[["b8bf709a.62cb1"]]},{"id":"21a36a6a.c0c006","type":"firebase modify","z":"551a2f8.47cfbd","name":"update sound","firebaseconfig":"a8f58380.f0b04","childpath":"device-1/sound","method":"set","value":"msg.payload","priority":"msg.priority","x":860,"y":160,"wires":[[]]},{"id":"ae6b38e2.638198","type":"firebase modify","z":"551a2f8.47cfbd","name":"update temperature","firebaseconfig":"a8f58380.f0b04","childpath":"device-1/temperature","method":"set","value":"msg.payload","priority":"msg.priority","x":870,"y":60,"wires":[[]]},{"id":"c74fa491.4813f8","type":"firebase modify","z":"551a2f8.47cfbd","name":"update co2","firebaseconfig":"a8f58380.f0b04","childpath":"device-1/co2","method":"set","value":"msg.payload","priority":"msg.priority","x":850,"y":260,"wires":[[]]},{"id":"853c6fd8.ac51a","type":"mqtt in","z":"551a2f8.47cfbd","name":"receive temperature","topic":"temperature","qos":"0","datatype":"auto","broker":"36eaeffc.9d11e","x":150,"y":60,"wires":[["684424b4.1ee7fc"]]},{"id":"c94b4516.a81338","type":"mqtt in","z":"551a2f8.47cfbd","name":"receive sound","topic":"sound","qos":"0","datatype":"auto","broker":"36eaeffc.9d11e","x":130,"y":160,"wires":[["9b68d35f.4b99e"]]},{"id":"abf8fdcf.73e91","type":"mqtt in","z":"551a2f8.47cfbd","name":"receive co2","topic":"co2","qos":"0","datatype":"auto","broker":"36eaeffc.9d11e","x":130,"y":260,"wires":[["f0e59407.a14f18"]]},{"id":"65da2ca.d5f91d4","type":"mqtt out","z":"3aaaf079.ee833","name":"send weather","topic":"weather","qos":"","retain":"","broker":"36eaeffc.9d11e","x":960,"y":180,"wires":[]},{"id":"e457d294.015eb","type":"mqtt in","z":"551a2f8.47cfbd","name":"receive led","topic":"led","qos":"0","datatype":"auto","broker":"36eaeffc.9d11e","x":120,"y":360,"wires":[["869133da.b1f1c"]]},{"id":"af68129b.14bfe","type":"firebase modify","z":"551a2f8.47cfbd","name":"update led","firebaseconfig":"a8f58380.f0b04","childpath":"device-1/led","method":"set","value":"msg.payload","priority":"msg.priority","x":850,"y":360,"wires":[[]]},{"id":"4050c017.9dfa9","type":"mqtt in","z":"551a2f8.47cfbd","name":"receive buzzer","topic":"buzzer","qos":"0","datatype":"auto","broker":"36eaeffc.9d11e","x":140,"y":460,"wires":[["7135100f.11e48"]]},{"id":"4e7f4b43.415d34","type":"mqtt in","z":"551a2f8.47cfbd","name":"receive vibrator","topic":"vibrator","qos":"0","datatype":"auto","broker":"36eaeffc.9d11e","x":140,"y":560,"wires":[["79fc711d.36559"]]},{"id":"678cfad3.df6004","type":"firebase modify","z":"551a2f8.47cfbd","name":"update buzzer","firebaseconfig":"a8f58380.f0b04","childpath":"device-1/buzzer","method":"set","value":"msg.payload","priority":"msg.priority","x":860,"y":460,"wires":[[]]},{"id":"63e3be94.bc54","type":"firebase modify","z":"551a2f8.47cfbd","name":"update vibrator","firebaseconfig":"a8f58380.f0b04","childpath":"device-1/vibrator","method":"set","value":"msg.payload","priority":"msg.priority","x":860,"y":560,"wires":[[]]},{"id":"6dd8c6d4.0128a8","type":"firebase.on","z":"3aaaf079.ee833","name":"get profile","firebaseconfig":"a8f58380.f0b04","childpath":"device-1/profile","atStart":true,"eventType":"value","queries":[],"x":140,"y":320,"wires":[["5c5f6ca5.6bc854"]]},{"id":"5c5f6ca5.6bc854","type":"mqtt out","z":"3aaaf079.ee833","name":"send profile","topic":"profile","qos":"","retain":"","broker":"36eaeffc.9d11e","x":670,"y":320,"wires":[]},{"id":"684424b4.1ee7fc","type":"delay","z":"551a2f8.47cfbd","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":60,"wires":[["ae6b38e2.638198"]]},{"id":"9b68d35f.4b99e","type":"delay","z":"551a2f8.47cfbd","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":160,"wires":[["21a36a6a.c0c006"]]},{"id":"f0e59407.a14f18","type":"delay","z":"551a2f8.47cfbd","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":260,"wires":[["c74fa491.4813f8"]]},{"id":"869133da.b1f1c","type":"delay","z":"551a2f8.47cfbd","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":360,"wires":[["af68129b.14bfe"]]},{"id":"7135100f.11e48","type":"delay","z":"551a2f8.47cfbd","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":460,"wires":[["678cfad3.df6004"]]},{"id":"79fc711d.36559","type":"delay","z":"551a2f8.47cfbd","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":560,"wires":[["63e3be94.bc54"]]},{"id":"55f5d4bb.236dcc","type":"firebase modify","z":"551a2f8.47cfbd","name":"update accelerometer","firebaseconfig":"a8f58380.f0b04","childpath":"device-1/accelerometer","method":"set","value":"msg.payload","priority":"msg.priority","x":880,"y":660,"wires":[[]]},{"id":"3bddbc30.6c4174","type":"mqtt in","z":"551a2f8.47cfbd","name":"receive accelerometer","topic":"accelerometer","qos":"0","datatype":"auto","broker":"36eaeffc.9d11e","x":160,"y":660,"wires":[["af4db583.1c8658"]]},{"id":"af4db583.1c8658","type":"delay","z":"551a2f8.47cfbd","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":660,"wires":[["55f5d4bb.236dcc"]]},{"id":"f22f3c12.7ef1b","type":"firebase modify","z":"551a2f8.47cfbd","name":"update fall","firebaseconfig":"a8f58380.f0b04","childpath":"device-1/fall","method":"set","value":"msg.payload","priority":"msg.priority","x":850,"y":760,"wires":[[]]},{"id":"f3e85f23.06df","type":"mqtt in","z":"551a2f8.47cfbd","name":"receive fall","topic":"fall","qos":"0","datatype":"auto","broker":"36eaeffc.9d11e","x":120,"y":760,"wires":[["19c9e031.033dd"]]},{"id":"19c9e031.033dd","type":"delay","z":"551a2f8.47cfbd","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":760,"wires":[["f22f3c12.7ef1b"]]}]