orchestrateur/receptionOrchestrateur.json
[{"id":"134af167.a0b59f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d180a630.d8f218","type":"http in","z":"134af167.a0b59f","name":"","url":"/co2","method":"post","upload":false,"swaggerDoc":"","x":260,"y":1320,"wires":[["47a2d396.1b886c","c04ec4cf.d4c348","efd1f9fc.c1c4b8"]]},{"id":"47a2d396.1b886c","type":"http response","z":"134af167.a0b59f","name":"","statusCode":"200","headers":{},"x":580,"y":1320,"wires":[]},{"id":"c04ec4cf.d4c348","type":"function","z":"134af167.a0b59f","name":"","func":"var local=global.get('dataCo2') || {};\nglobal.set('dataCo2',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1380,"wires":[["7bece988.5a2c08"]]},{"id":"7bece988.5a2c08","type":"debug","z":"134af167.a0b59f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":1380,"wires":[]},{"id":"73d3c51c.cb9c3c","type":"http in","z":"134af167.a0b59f","name":"","url":"/sound","method":"post","upload":false,"swaggerDoc":"","x":250,"y":1060,"wires":[["531b8d04.4715d4","9ef460a6.87dbf","d933de4c.4fc75"]]},{"id":"531b8d04.4715d4","type":"http response","z":"134af167.a0b59f","name":"","statusCode":"200","headers":{},"x":580,"y":1060,"wires":[]},{"id":"fa8a914.77dc47","type":"http in","z":"134af167.a0b59f","name":"","url":"/temperature","method":"post","upload":false,"swaggerDoc":"","x":230,"y":800,"wires":[["533f12e2.8fd84c","5596f5b6.03e04c","b0ea4b7d.b02ef8"]]},{"id":"533f12e2.8fd84c","type":"http response","z":"134af167.a0b59f","name":"","statusCode":"200","headers":{},"x":520,"y":800,"wires":[]},{"id":"9ef460a6.87dbf","type":"function","z":"134af167.a0b59f","name":"","func":"var local=global.get('dataSound') || {};\nglobal.set('dataSound',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1120,"wires":[["11ce692f.70e737"]]},{"id":"11ce692f.70e737","type":"debug","z":"134af167.a0b59f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":1120,"wires":[]},{"id":"5596f5b6.03e04c","type":"function","z":"134af167.a0b59f","name":"","func":"var local=global.get('dataTemp') || {};\nglobal.set('dataTemp',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":880,"wires":[["aab129de.287dc8"]]},{"id":"aab129de.287dc8","type":"debug","z":"134af167.a0b59f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":880,"wires":[]},{"id":"d933de4c.4fc75","type":"firebase modify","z":"134af167.a0b59f","name":"update sound","firebaseconfig":"","childpath":"device-1/sound","method":"set","value":"msg.payload","priority":"msg.priority","x":480,"y":980,"wires":[["f5cc6fa.acb469"]]},{"id":"f5cc6fa.acb469","type":"debug","z":"134af167.a0b59f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":980,"wires":[]},{"id":"b0ea4b7d.b02ef8","type":"firebase modify","z":"134af167.a0b59f","name":"update Temperature","firebaseconfig":"","childpath":"device-1/temperature","method":"set","value":"msg.payload","priority":"msg.priority","x":480,"y":700,"wires":[["a1637134.e79db"]]},{"id":"a1637134.e79db","type":"debug","z":"134af167.a0b59f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":700,"wires":[]},{"id":"efd1f9fc.c1c4b8","type":"firebase modify","z":"134af167.a0b59f","name":"update co2","firebaseconfig":"","childpath":"device-1/co2","method":"set","value":"msg.payload","priority":"msg.priority","x":450,"y":1240,"wires":[["b34071fc.327c3"]]},{"id":"b34071fc.327c3","type":"debug","z":"134af167.a0b59f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":1240,"wires":[]}]