raspberry/flows.json
[{"id":"42631d73.4bd584","type":"tab","label":"Raspberry - send","disabled":false,"info":""},{"id":"d67f5b8f.6f1e28","type":"tab","label":"Raspberry - compute","disabled":false,"info":""},{"id":"cdfdc4b3.f59318","type":"tab","label":"Raspberry - receive","disabled":false,"info":""},{"id":"bb3c9f41.c0de7","type":"mqtt-broker","z":"","name":"Broker","broker":"192.168.43.172","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b986599e.d4ebe8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"85ee530f.233af","type":"ui_group","z":"","name":"Watch informations","tab":"b986599e.d4ebe8","disp":true,"width":"6","collapse":false},{"id":"24f39232.1219ce","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#006fa4","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#006fa4","edited":true},"page-titlebar-backgroundColor":{"value":"#006fa4","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#00a3f0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#006fa4","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Black Box Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"27803162.0f43de","type":"board-config","z":"","board":"GrovePi"},{"id":"5890771d.f91258","type":"board-config","z":"","board":"GrovePi"},{"id":"bc581006.becd3","type":"mqtt out","z":"42631d73.4bd584","name":"send co2","topic":"co2","qos":"","retain":"","broker":"bb3c9f41.c0de7","x":480,"y":240,"wires":[]},{"id":"4482b845.859bd8","type":"mqtt out","z":"42631d73.4bd584","name":"send temperature","topic":"temperature","qos":"","retain":"","broker":"bb3c9f41.c0de7","x":510,"y":60,"wires":[]},{"id":"4903d164.6906e","type":"mqtt out","z":"42631d73.4bd584","name":"send sound","topic":"sound","qos":"","retain":"","broker":"bb3c9f41.c0de7","x":490,"y":480,"wires":[]},{"id":"597e22aa.a51c8c","type":"function","z":"42631d73.4bd584","name":"save sound","func":"global.set('sound',msg.payload);","outputs":1,"noerr":0,"x":490,"y":560,"wires":[[]]},{"id":"96d44f0d.bc958","type":"function","z":"42631d73.4bd584","name":"save temperature","func":"global.set('temperature', msg.payload);","outputs":1,"noerr":0,"x":510,"y":140,"wires":[[]]},{"id":"4f2eaf01.ba1bf","type":"function","z":"42631d73.4bd584","name":"save co2","func":"global.set('co2', msg.payload);","outputs":0,"noerr":0,"x":480,"y":320,"wires":[]},{"id":"df2a700d.c2cf6","type":"function","z":"d67f5b8f.6f1e28","name":"BRAIN","func":"var co2 = global.get('co2');\nvar temperature = global.get('temperature');\nvar sound = global.get('sound');\nvar weather = global.get('weather');\nvar profile = global.get('profile');\n\nvar led = { payload: false };\nvar buzzer = { payload: false };\nvar vibrator = { payload: false };\n\nif(profile.maxCo2 < 30){\n    vibrator.payload = true\n}\n\nreturn [led, buzzer, vibrator];","outputs":3,"noerr":0,"x":190,"y":360,"wires":[["d52784d6.239f98"],["af6fc5a3.8e9ae8"],["5f927c4c.546de4"]]},{"id":"ed35de41.1841a","type":"mqtt out","z":"d67f5b8f.6f1e28","name":"send vibrator","topic":"vibrator","qos":"","retain":"","broker":"bb3c9f41.c0de7","x":1070,"y":640,"wires":[]},{"id":"c80c80ea.923cd","type":"mqtt out","z":"d67f5b8f.6f1e28","name":"send led","topic":"led","qos":"","retain":"","broker":"bb3c9f41.c0de7","x":1060,"y":200,"wires":[]},{"id":"2330820c.f06b8e","type":"mqtt out","z":"d67f5b8f.6f1e28","name":"send buzzer","topic":"buzzer","qos":"","retain":"","broker":"bb3c9f41.c0de7","x":1070,"y":420,"wires":[]},{"id":"abd77b65.8cfad8","type":"function","z":"d67f5b8f.6f1e28","name":"save led","func":"global.set(\"led\", msg.payload);\n","outputs":0,"noerr":0,"x":1060,"y":80,"wires":[]},{"id":"d52784d6.239f98","type":"switch","z":"d67f5b8f.6f1e28","name":"need to update ?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"led","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":140,"wires":[["abd77b65.8cfad8","c80c80ea.923cd","e4942257.8a332"]]},{"id":"af6fc5a3.8e9ae8","type":"switch","z":"d67f5b8f.6f1e28","name":"need to update ?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"buzzer","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":360,"wires":[["736b6b07.b9e994","2330820c.f06b8e","dcdd2d9c.e7644"]]},{"id":"5f927c4c.546de4","type":"switch","z":"d67f5b8f.6f1e28","name":"need to update ?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"vibrator","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":580,"wires":[["c8934dc9.0c067","ed35de41.1841a","1d44115e.73748f"]]},{"id":"736b6b07.b9e994","type":"function","z":"d67f5b8f.6f1e28","name":"save buzzer","func":"global.set(\"buzzer\", msg.payload);\n","outputs":0,"noerr":0,"x":1070,"y":300,"wires":[]},{"id":"c8934dc9.0c067","type":"function","z":"d67f5b8f.6f1e28","name":"save vibrator","func":"global.set(\"vibrator\", msg.payload);\n","outputs":0,"noerr":0,"x":1070,"y":520,"wires":[]},{"id":"eaccf4a2.7e5248","type":"mqtt in","z":"cdfdc4b3.f59318","name":"Receive weather","topic":"weather","qos":"1","datatype":"auto","broker":"bb3c9f41.c0de7","x":180,"y":100,"wires":[["85dedd95.cfd33"]]},{"id":"f0bea5b.9978558","type":"function","z":"cdfdc4b3.f59318","name":"save weather","func":"global.set('weather', msg.payload);","outputs":0,"noerr":0,"x":750,"y":100,"wires":[]},{"id":"99e71af8.a706a8","type":"mqtt in","z":"cdfdc4b3.f59318","name":"Receive profile","topic":"profile","qos":"1","datatype":"auto","broker":"bb3c9f41.c0de7","x":180,"y":180,"wires":[["3ca81540.cbe8aa"]]},{"id":"fb4790db.5b0ec","type":"function","z":"cdfdc4b3.f59318","name":"save profile","func":"global.set('profile', msg.payload);","outputs":0,"noerr":0,"x":750,"y":180,"wires":[]},{"id":"5a394e6e.714e3","type":"ui_gauge","z":"42631d73.4bd584","name":"Air quality","group":"85ee530f.233af","order":0,"width":0,"height":0,"gtype":"gage","title":"Air quality","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":400,"wires":[]},{"id":"7f5b0ea8.9c355","type":"ui_gauge","z":"42631d73.4bd584","name":"Sound","group":"85ee530f.233af","order":0,"width":0,"height":0,"gtype":"gage","title":"Sound","label":"Db","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":640,"wires":[]},{"id":"a329b82.47e5548","type":"grove digital sensor","z":"42631d73.4bd584","name":"Temp/Humd","board":"5890771d.f91258","sensor":"dht11","repeat":"1","pin":"2","x":210,"y":100,"wires":[["4482b845.859bd8","96d44f0d.bc958"]]},{"id":"e816dde9.ec308","type":"grove analog sensor","z":"42631d73.4bd584","name":"co2","pin":"0","sensor":"sound","repeat":"1","board":"27803162.0f43de","x":190,"y":320,"wires":[["bc581006.becd3","4f2eaf01.ba1bf","5a394e6e.714e3"]]},{"id":"b65e151b.e63f28","type":"grove analog sensor","z":"42631d73.4bd584","name":"Sound","pin":"1","sensor":"sound","repeat":"1","board":"27803162.0f43de","x":170,"y":560,"wires":[["4903d164.6906e","597e22aa.a51c8c","7f5b0ea8.9c355"]]},{"id":"dcdd2d9c.e7644","type":"grove digital output","z":"d67f5b8f.6f1e28","name":"Buzzer","board":"27803162.0f43de","pin":"3","x":1060,"y":360,"wires":[]},{"id":"1d44115e.73748f","type":"grove digital output","z":"d67f5b8f.6f1e28","name":"Vibrator","board":"27803162.0f43de","pin":"4","x":1060,"y":580,"wires":[]},{"id":"e4942257.8a332","type":"grove digital output","z":"d67f5b8f.6f1e28","name":"LED","board":"27803162.0f43de","pin":"7","x":1050,"y":140,"wires":[]},{"id":"1c6bd9fc.403876","type":"exec","z":"42631d73.4bd584","command":"python3 /home/pi/Desktop/lsm6ds3/acc_1.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Accelerometer","x":500,"y":780,"wires":[["ac6f9bff.effba8","1be4864.548e27a"],[],[]]},{"id":"8f886303.1f242","type":"inject","z":"42631d73.4bd584","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":780,"wires":[["1c6bd9fc.403876"]]},{"id":"1be4864.548e27a","type":"mqtt out","z":"42631d73.4bd584","name":"send accelerometer","topic":"accelerometer","qos":"","retain":"","broker":"bb3c9f41.c0de7","x":830,"y":720,"wires":[]},{"id":"ac6f9bff.effba8","type":"function","z":"42631d73.4bd584","name":"save accelerometer","func":"global.set('accelerometer',msg.payload);","outputs":1,"noerr":0,"x":830,"y":800,"wires":[[]]},{"id":"3ca81540.cbe8aa","type":"json","z":"cdfdc4b3.f59318","name":"","property":"payload","action":"","pretty":false,"x":470,"y":180,"wires":[["fb4790db.5b0ec"]]},{"id":"85dedd95.cfd33","type":"json","z":"cdfdc4b3.f59318","name":"","property":"payload","action":"","pretty":false,"x":470,"y":100,"wires":[["f0bea5b.9978558"]]},{"id":"1582df46.20b351","type":"inject","z":"d67f5b8f.6f1e28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["df2a700d.c2cf6"]]}]