raspberry/flows.json
[{"id":"231cb124.ac504e","type":"tab","label":"Actionneurs","disabled":false,"info":""},{"id":"83a1c9ac.0fbfb8","type":"http request","z":"231cb124.ac504e","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.43.101:1880/buzzer","tls":"","proxy":"","authType":"","x":330,"y":140,"wires":[["1fc8906a.08c05"]]},{"id":"1fc8906a.08c05","type":"grovepi-buzzer","z":"231cb124.ac504e","name":"Buzzer","pin":"3","x":600,"y":140,"wires":[]},{"id":"bc5d6db4.72e1c","type":"grovepi-led","z":"231cb124.ac504e","name":"LED","pin":"7","set":"","x":600,"y":300,"wires":[]},{"id":"bfcac3d3.e24be","type":"http request","z":"231cb124.ac504e","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.43.101:1880/led","tls":"","proxy":"","authType":"","x":350,"y":300,"wires":[["bc5d6db4.72e1c"]]},{"id":"6d8dc05a.4d6ad","type":"inject","z":"231cb124.ac504e","name":"Receive","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":220,"wires":[["bc5d6db4.72e1c"]]},{"id":"cb38e73c.3f5ed8","type":"http request","z":"231cb124.ac504e","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"192.168.43.101:1880/vibrator","tls":"","proxy":"","authType":"","x":340,"y":440,"wires":[["92afba1b.fb2c88","716956c4.d8baa8"]]},{"id":"92afba1b.fb2c88","type":"grovepi-buzzer","z":"231cb124.ac504e","name":"Vibrator","pin":"4","x":610,"y":440,"wires":[]},{"id":"716956c4.d8baa8","type":"debug","z":"231cb124.ac504e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":380,"wires":[]}]