raspberry/flows_dex.json
[{"id":"13cb1ebb.0408f1","type":"tab","label":"Capteurs","disabled":false,"info":""},{"id":"231cb124.ac504e","type":"tab","label":"Actionneurs","disabled":false,"info":""},{"id":"f96c1ffc.7bc64","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3ebcd2d.6ba732e","type":"http request","z":"13cb1ebb.0408f1","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.43.101:1880/sound","tls":"","proxy":"","authType":"","x":570,"y":340,"wires":[[]]},{"id":"c33e8338.d19b7","type":"grovepi-sound","z":"13cb1ebb.0408f1","name":"Sound","pin":"1","x":130,"y":340,"wires":[["1ca3ed2.ce38413"]]},{"id":"1ca3ed2.ce38413","type":"delay","z":"13cb1ebb.0408f1","name":"","pauseType":"rate","timeout":"15000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":340,"wires":[["3ebcd2d.6ba732e"]]},{"id":"eb6a14ca.80a7a8","type":"http request","z":"13cb1ebb.0408f1","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.43.101:1880/co2","tls":"","proxy":"","authType":"","x":570,"y":240,"wires":[[]]},{"id":"4b0481b4.1bdc","type":"grovepi-sound","z":"13cb1ebb.0408f1","name":"CO2","pin":"0","x":130,"y":240,"wires":[["d10efae2.ef7078"]]},{"id":"d10efae2.ef7078","type":"delay","z":"13cb1ebb.0408f1","name":"","pauseType":"rate","timeout":"15000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":240,"wires":[["eb6a14ca.80a7a8"]]},{"id":"e576feff.141a3","type":"http request","z":"13cb1ebb.0408f1","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.43.101:1880/temperature","tls":"","proxy":"","authType":"","x":610,"y":140,"wires":[[]]},{"id":"febc46e3.696228","type":"delay","z":"13cb1ebb.0408f1","name":"","pauseType":"rate","timeout":"15000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":360,"y":140,"wires":[["e576feff.141a3"]]},{"id":"2a53c873.de3048","type":"grovepi-temperature","z":"13cb1ebb.0408f1","name":"Temperature","pin":"2","x":150,"y":140,"wires":[["febc46e3.696228"]]},{"id":"83a1c9ac.0fbfb8","type":"http request","z":"231cb124.ac504e","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.43.101:1880/buzzer","tls":"","proxy":"","authType":"","x":330,"y":140,"wires":[["1fc8906a.08c05"]]},{"id":"1fc8906a.08c05","type":"grovepi-buzzer","z":"231cb124.ac504e","name":"Buzzer","pin":"3","x":600,"y":140,"wires":[]},{"id":"bc5d6db4.72e1c","type":"grovepi-led","z":"231cb124.ac504e","name":"LED","pin":"7","set":"","x":600,"y":300,"wires":[]},{"id":"bfcac3d3.e24be","type":"http request","z":"231cb124.ac504e","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.43.101:1880/led","tls":"","proxy":"","authType":"","x":350,"y":300,"wires":[["bc5d6db4.72e1c"]]},{"id":"6d8dc05a.4d6ad","type":"inject","z":"231cb124.ac504e","name":"Receive","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":220,"wires":[["bc5d6db4.72e1c"]]},{"id":"92afba1b.fb2c88","type":"grovepi-buzzer","z":"231cb124.ac504e","name":"Vibrator","pin":"4","x":640,"y":400,"wires":[]},{"id":"184e6990.d9bea6","type":"http response","z":"231cb124.ac504e","name":"","statusCode":"200","headers":{},"x":640,"y":500,"wires":[]},{"id":"11cab0f9.99640f","type":"http in","z":"231cb124.ac504e","name":"","url":"/vibrator","method":"post","upload":true,"swaggerDoc":"","x":310,"y":480,"wires":[["92afba1b.fb2c88","184e6990.d9bea6","2109990b.1248d6"]]},{"id":"2109990b.1248d6","type":"debug","z":"231cb124.ac504e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":580,"wires":[]}]