raspberry/raspber.json
[{"id":"6859150b.9e857c","type":"tab","label":"Raspberry - send","disabled":false,"info":""},{"id":"cedadc03.f4b3e","type":"tab","label":"Raspberry - receive","disabled":false,"info":""},{"id":"1da6aeb4.d4ed81","type":"tab","label":"Raspberry - compute","disabled":false,"info":""},{"id":"287281f6.f4c36e","type":"tab","label":"Raspberry - gauge","disabled":false,"info":""},{"id":"cc04bc60.8144c","type":"board-config","z":"","board":"GrovePi"},{"id":"eb661291.7980f","type":"board-config","z":"","board":"GrovePi"},{"id":"d25e073e.08ba38","type":"ui_group","z":"6859150b.9e857c","name":"Journal des événements du Dashboard","tab":"bdd406e1.76d008","order":3,"disp":true,"width":"8"},{"id":"1fe08ea.4326b71","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6910ca8c.592874","type":"ui_group","z":"","name":"Default","tab":"1fe08ea.4326b71","disp":true,"width":"6","collapse":false},{"id":"365a1c07.e5f924","type":"mqtt-broker","z":"","name":"Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1f3a5803.065b78","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"fcbd44e.473e1b8","type":"ui_group","z":"","name":"Watch informations","tab":"1f3a5803.065b78","disp":true,"width":"6","collapse":false},{"id":"ccf23db8.3a80d","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#006fa4","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#006fa4","edited":true},"page-titlebar-backgroundColor":{"value":"#006fa4","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#00a3f0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#006fa4","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Black Box Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d9102434.7a48a8","type":"board-config","z":"","board":"GrovePi"},{"id":"614450e9.eb42f","type":"board-config","z":"","board":"GrovePi"},{"id":"cc6d76e8.a64e88","type":"ui_group","z":"","name":"Eléments d'entrée","tab":"8ad922b9.14d63","order":1,"disp":true,"width":"8"},{"id":"91f8ea7a.113cc8","type":"ui_group","z":"","name":"Formulaire","tab":"8ad922b9.14d63","order":2,"disp":true,"width":"8"},{"id":"8ad922b9.14d63","type":"ui_tab","z":"","name":"Ecran Principal","icon":"home","order":2},{"id":"a6a258d6.842ee8","type":"ui_group","z":"","name":"Eléments d'entrée","tab":"63bcfda8.7b45b4","order":1,"disp":true,"width":"8"},{"id":"4f35c6c7.4e1fa8","type":"ui_group","z":"","name":"Formulaire","tab":"63bcfda8.7b45b4","order":2,"disp":true,"width":"8"},{"id":"ff66e22d.e2aae","type":"ui_group","z":"cedadc03.f4b3e","name":"Journal des événements du Dashboard","tab":"63bcfda8.7b45b4","order":3,"disp":true,"width":"8"},{"id":"63bcfda8.7b45b4","type":"ui_tab","z":"","name":"Ecran Principal","icon":"home","order":2},{"id":"99d5b80a.85fe28","type":"ui_group","z":"","name":"Eléments d'entrée","tab":"80415bd9.5c6b78","order":1,"disp":true,"width":"8"},{"id":"97f148db.98ef78","type":"ui_group","z":"","name":"Formulaire","tab":"80415bd9.5c6b78","order":2,"disp":true,"width":"8"},{"id":"6d2ffec6.a8e24","type":"ui_group","z":"cedadc03.f4b3e","name":"Journal des événements du Dashboard","tab":"80415bd9.5c6b78","order":3,"disp":true,"width":"8"},{"id":"217f17b8.223a98","type":"ui_group","z":"","name":"Mesures","tab":"1c1e93a3.02e70c","order":1,"disp":true,"width":"6"},{"id":"4d502c02.b47674","type":"ui_group","z":"","name":"Graphiques","tab":"1c1e93a3.02e70c","order":2,"disp":true,"width":"6"},{"id":"80415bd9.5c6b78","type":"ui_tab","z":"","name":"Ecran Principal","icon":"home","order":2},{"id":"1c1e93a3.02e70c","type":"ui_tab","z":"","name":"MySensors","icon":"dashboard","order":3},{"id":"9312141f.081278","type":"ui_group","z":"","name":"Default","tab":"4b831589.d4280c","disp":true,"width":"6","collapse":false},{"id":"4b831589.d4280c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a93c27a7.fcacd8","type":"ui_group","z":"1da6aeb4.d4ed81","name":"Journal des événements du Dashboard","tab":"80415bd9.5c6b78","order":3,"disp":true,"width":"8"},{"id":"e5233117.992c1","type":"mqtt out","z":"6859150b.9e857c","name":"send co2","topic":"co2","qos":"","retain":"","broker":"365a1c07.e5f924","x":840,"y":300,"wires":[]},{"id":"f368325.f9508d","type":"mqtt out","z":"6859150b.9e857c","name":"send temperature","topic":"temperature","qos":"","retain":"","broker":"365a1c07.e5f924","x":870,"y":60,"wires":[]},{"id":"386b3da5.c589f2","type":"mqtt out","z":"6859150b.9e857c","name":"send sound","topic":"sound","qos":"","retain":"","broker":"365a1c07.e5f924","x":850,"y":520,"wires":[]},{"id":"d1b7b3ce.02762","type":"function","z":"6859150b.9e857c","name":"save sound","func":"global.set('sound',msg.payload);","outputs":1,"noerr":0,"x":850,"y":580,"wires":[[]]},{"id":"d2168c77.c2d6f","type":"function","z":"6859150b.9e857c","name":"save temperature","func":"global.set('temperature', msg.payload);","outputs":1,"noerr":0,"x":870,"y":120,"wires":[[]]},{"id":"349e986f.4aadc8","type":"function","z":"6859150b.9e857c","name":"save co2","func":"global.set('co2', msg.payload);","outputs":0,"noerr":0,"x":840,"y":360,"wires":[]},{"id":"1c02454a.311feb","type":"grove digital sensor","z":"6859150b.9e857c","name":"Temp/Humd","board":"eb661291.7980f","sensor":"dht11","repeat":"2","pin":"2","x":150,"y":120,"wires":[["b73979e6.2ebe88"]]},{"id":"8e4c227.e9a81e","type":"grove analog sensor","z":"6859150b.9e857c","name":"co2","pin":"0","sensor":"sound","repeat":"2","board":"cc04bc60.8144c","x":130,"y":360,"wires":[["ad835b1b.3fa988"]]},{"id":"d497c581.0df968","type":"grove analog sensor","z":"6859150b.9e857c","name":"Sound","pin":"1","sensor":"sound","repeat":"2","board":"cc04bc60.8144c","x":130,"y":580,"wires":[["d65dfa33.0ff0b8"]]},{"id":"75b33554.0b06bc","type":"exec","z":"6859150b.9e857c","command":"python3 /home/pi/Desktop/lsm6ds3/py_1.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Accelerometer","x":480,"y":1300,"wires":[["627b0587.5cd0ac","b7defaf.c5c5d08","6203086d.e2cf98","7d1968d6.258e88"],[],[]]},{"id":"627b0587.5cd0ac","type":"mqtt out","z":"6859150b.9e857c","name":"send accelerometer","topic":"accelerometer","qos":"","retain":"","broker":"365a1c07.e5f924","x":870,"y":1260,"wires":[]},{"id":"7d1968d6.258e88","type":"function","z":"6859150b.9e857c","name":"save accelerometer","func":"global.set('accelerometer', Number(msg.payload));","outputs":0,"noerr":0,"x":870,"y":1320,"wires":[]},{"id":"d2e2b774.3fc638","type":"inject","z":"6859150b.9e857c","name":"start accelerometer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":1300,"wires":[["75b33554.0b06bc"]]},{"id":"b7defaf.c5c5d08","type":"ui_text","z":"6859150b.9e857c","group":"4d502c02.b47674","order":2,"width":0,"height":0,"name":"Accelerometre","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":1380,"wires":[]},{"id":"bf3b44d6.8630d8","type":"ui_gauge","z":"6859150b.9e857c","name":"Air quality","group":"4d502c02.b47674","order":1,"width":0,"height":0,"gtype":"gage","title":"Air quality","label":"units","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":420,"wires":[]},{"id":"79fccd2.0477734","type":"ui_gauge","z":"6859150b.9e857c","name":"Sound","group":"4d502c02.b47674","order":2,"width":0,"height":0,"gtype":"gage","title":"Sound","label":"Db","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":640,"wires":[]},{"id":"6e629418.3b294c","type":"mqtt in","z":"cedadc03.f4b3e","name":"receive weather","topic":"weather","qos":"1","datatype":"auto","broker":"365a1c07.e5f924","x":180,"y":80,"wires":[["a45e7912.e5b118"]]},{"id":"3cb5db07.d030c4","type":"function","z":"cedadc03.f4b3e","name":"save weather","func":"global.set('weather', msg.payload);","outputs":0,"noerr":0,"x":910,"y":80,"wires":[]},{"id":"f2eb6bc.e472d98","type":"mqtt in","z":"cedadc03.f4b3e","name":"receive profile","topic":"profile","qos":"1","datatype":"auto","broker":"365a1c07.e5f924","x":170,"y":180,"wires":[["dc6a36e4.353508"]]},{"id":"fe1f9d9b.0bb43","type":"function","z":"cedadc03.f4b3e","name":"save profile","func":"global.set('profile', msg.payload);","outputs":0,"noerr":0,"x":910,"y":180,"wires":[]},{"id":"dc6a36e4.353508","type":"json","z":"cedadc03.f4b3e","name":"","property":"payload","action":"","pretty":false,"x":590,"y":180,"wires":[["fe1f9d9b.0bb43"]]},{"id":"a45e7912.e5b118","type":"json","z":"cedadc03.f4b3e","name":"","property":"payload","action":"","pretty":false,"x":590,"y":80,"wires":[["3cb5db07.d030c4"]]},{"id":"8bf8c5e8.0d7378","type":"function","z":"cedadc03.f4b3e","name":"set default profile","func":"if(!global.get(\"profile\")){\n    global.set('profile', msg.payload);\n}\n","outputs":0,"noerr":0,"x":930,"y":280,"wires":[]},{"id":"91a7837c.70a97","type":"inject","z":"cedadc03.f4b3e","name":"first start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":160,"y":280,"wires":[["daaca912.51d7b8"]]},{"id":"c21d41b0.c1f7","type":"json","z":"cedadc03.f4b3e","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":280,"wires":[["8bf8c5e8.0d7378"]]},{"id":"daaca912.51d7b8","type":"function","z":"cedadc03.f4b3e","name":"create profile","func":"msg.payload = {\"maxCo2\":25,\"maxSound\":400,\"maxTemperature\":30,\"minCo2\":0,\"minSound\":0,\"minTemperature\":20,\"name\":\"Default\"}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["c21d41b0.c1f7"]]},{"id":"663d4389.a2a4ec","type":"mqtt out","z":"1da6aeb4.d4ed81","name":"send vibrator","topic":"vibrator","qos":"","retain":"","broker":"365a1c07.e5f924","x":950,"y":620,"wires":[]},{"id":"3f432043.9808e","type":"mqtt out","z":"1da6aeb4.d4ed81","name":"send led","topic":"led","qos":"","retain":"","broker":"365a1c07.e5f924","x":940,"y":180,"wires":[]},{"id":"a09e2a7.e551cd8","type":"mqtt out","z":"1da6aeb4.d4ed81","name":"send buzzer","topic":"buzzer","qos":"","retain":"","broker":"365a1c07.e5f924","x":950,"y":400,"wires":[]},{"id":"a948ff38.5b05f","type":"function","z":"1da6aeb4.d4ed81","name":"save led","func":"global.set(\"led\", msg.payload);\n","outputs":0,"noerr":0,"x":940,"y":60,"wires":[]},{"id":"8a205c53.38002","type":"switch","z":"1da6aeb4.d4ed81","name":"need to update ?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"led","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":120,"wires":[["a948ff38.5b05f","3f432043.9808e","eaca67d2.ab3df8"]]},{"id":"8428714e.fd5ef","type":"switch","z":"1da6aeb4.d4ed81","name":"need to update ?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"buzzer","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":340,"wires":[["257656ee.1d793a","a09e2a7.e551cd8","43a8c174.d4858"]]},{"id":"d7ff79b4.16a798","type":"switch","z":"1da6aeb4.d4ed81","name":"need to update ?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"vibrator","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":560,"wires":[["dcd2fc5c.da819","663d4389.a2a4ec","d2ab369b.cfdcf8"]]},{"id":"257656ee.1d793a","type":"function","z":"1da6aeb4.d4ed81","name":"save buzzer","func":"global.set(\"buzzer\", msg.payload);\n","outputs":0,"noerr":0,"x":950,"y":280,"wires":[]},{"id":"dcd2fc5c.da819","type":"function","z":"1da6aeb4.d4ed81","name":"save vibrator","func":"global.set(\"vibrator\", msg.payload);\n","outputs":0,"noerr":0,"x":950,"y":500,"wires":[]},{"id":"43a8c174.d4858","type":"grove digital output","z":"1da6aeb4.d4ed81","name":"Buzzer","board":"d9102434.7a48a8","pin":"3","x":940,"y":340,"wires":[]},{"id":"d2ab369b.cfdcf8","type":"grove digital output","z":"1da6aeb4.d4ed81","name":"Vibrator","board":"d9102434.7a48a8","pin":"4","x":940,"y":560,"wires":[]},{"id":"9310dc04.93b5d","type":"inject","z":"1da6aeb4.d4ed81","name":"check danger","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":"1","x":120,"y":700,"wires":[["c619af0f.7eb12","a84a05fa.de6e78","9fa219e4.436608","35d2ae05.3f80e2"]]},{"id":"c619af0f.7eb12","type":"function","z":"1da6aeb4.d4ed81","name":"co2 danger","func":"var co2 = global.get('co2');\nvar profile = global.get('profile');\n\nif(profile.maxCo2 < co2 || profile.minCo2 > co2){\n    global.set(\"co2Danger\", true);\n}else{\n    global.set(\"co2Danger\", false);\n}\n","outputs":0,"noerr":0,"x":370,"y":540,"wires":[]},{"id":"a84a05fa.de6e78","type":"function","z":"1da6aeb4.d4ed81","name":"temperature danger","func":"var temperature = global.get('temperature');\nvar profile = global.get('profile');\n\nif(profile.maxTemperature < temperature.temperature || profile.minTemperature > temperature.temperature){\n    global.set(\"temperatureDanger\", true);\n}else{\n    global.set(\"temperatureDanger\", false);\n}","outputs":0,"noerr":0,"x":390,"y":640,"wires":[]},{"id":"9fa219e4.436608","type":"function","z":"1da6aeb4.d4ed81","name":"sound danger","func":"var sound = global.get('sound')\nvar buzzer = global.get('buzzer');\nvar profile = global.get('profile');\n\nif(profile.maxSound < sound || profile.minSound > sound){\n    if(buzzer != true){\n        global.set(\"soundDanger\", true);\n    }\n}else{\n    global.set(\"soundDanger\", false);\n}","outputs":0,"noerr":0,"x":380,"y":760,"wires":[]},{"id":"35d2ae05.3f80e2","type":"function","z":"1da6aeb4.d4ed81","name":"accelerometer danger","func":"var accelerometer = global.get('accelerometer') || false;\nvar profile = global.get('profile');\nvar fall;\n\nif(accelerometer>20000){\n    global.set(\"accelerometerDanger\", true);\n    fall = { payload: true }\n}else{\n    fall = { payload: false }\n}\n\nreturn fall;\n","outputs":1,"noerr":0,"x":400,"y":880,"wires":[["3bf1e78d.7b7258"]]},{"id":"9c8e2e6e.610b4","type":"function","z":"1da6aeb4.d4ed81","name":"choose actionners","func":"var led = { payload: \"green\" };\nvar buzzer = { payload: false };\nvar vibrator = { payload: false };\n\nvar co2Danger = global.get('co2Danger') || false;\nvar temperatureDanger = global.get('temperatureDanger') || false;\nvar soundDanger = global.get('soundDanger') || false;\nvar accelerometerDanger = global.get('accelerometerDanger') || false;\n\nif(co2Danger || temperatureDanger || soundDanger || accelerometerDanger){\n    if(!soundDanger){\n        buzzer = { payload: true };\n    }\n    vibrator = { payload: true };\n}\n\nif(accelerometerDanger){\n    led = { payload: \"yellow\" };\n}else if(co2Danger){\n    led = { payload: \"blue\" };\n}else if(temperatureDanger){\n    led = { payload: \"red\" };\n}else if(soundDanger){\n    led = { payload: \"purple\" };\n} else {\n    led = { payload: \"green\" };\n}\n\nreturn [led, buzzer, vibrator];","outputs":3,"noerr":0,"x":390,"y":340,"wires":[["8a205c53.38002"],["8428714e.fd5ef"],["d7ff79b4.16a798"]]},{"id":"9f0f4c6d.0821c","type":"exec","z":"1da6aeb4.d4ed81","command":"python3 /home/pi/Dexter/GrovePi/Software/Python/grove_chainable_rgb_led/individual_led_control.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"start led","x":1800,"y":120,"wires":[[],[],[]]},{"id":"eaca67d2.ab3df8","type":"function","z":"1da6aeb4.d4ed81","name":"which color ?","func":"switch (msg.payload) {\n    case \"off\":\n        msg.payload = 0 + \" \" + 0 + \" \" + 0;\n        break;\n    case \"red\":\n        msg.payload = 255 + \" \" + 0 + \" \" + 0;\n        break;\n    case \"green\":\n        msg.payload = 0 + \" \" + 255 + \" \" + 0;\n        break;\n    case \"blue\":\n        msg.payload = 0 + \" \" + 0 + \" \" + 255;\n        break;\n    case \"purple\":\n        msg.payload = 255 + \" \" + 0 + \" \" + 255;\n        break;\n    case \"yellow\":\n        msg.payload = 255 + \" \" + 255 + \" \" + 0;\n        break;\n    default:\n        msg.payload = 0 + \" \" + 0 + \" \" + 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":120,"wires":[["9f0f4c6d.0821c"]]},{"id":"26e7d8a7.1eaba8","type":"inject","z":"1da6aeb4.d4ed81","name":"start actionners","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["9c8e2e6e.610b4"]]},{"id":"53d85418.d8d3fc","type":"mqtt out","z":"1da6aeb4.d4ed81","name":"send true fall","topic":"fall","qos":"","retain":"","broker":"365a1c07.e5f924","x":930,"y":780,"wires":[]},{"id":"b3388333.df35d","type":"ui_button","z":"287281f6.f4c36e","name":"Bouton","group":"99d5b80a.85fe28","order":0,"width":0,"height":0,"passthru":false,"label":"Bouton","tooltip":"","color":"#fffff","bgcolor":"","icon":"fa-star","payload":"true","payloadType":"bool","topic":"Button","x":520,"y":200,"wires":[["e7685824.bf0ef8"]]},{"id":"c7b4bda.2b5e04","type":"ui_dropdown","z":"287281f6.f4c36e","name":"Liste de choix","label":"Choisissez ce que vous voulez","tooltip":"","place":"","group":"99d5b80a.85fe28","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"Choix 1 : Escalade","value":1,"type":"num"},{"label":"Choix 2 : Pompier","value":2,"type":"num"},{"label":"Choix 3 :  Aéroport ","value":3,"type":"num"}],"payload":"","topic":"Liste de choix","x":500,"y":240,"wires":[["e7685824.bf0ef8"]]},{"id":"6937b7ad.7f0a08","type":"debug","z":"287281f6.f4c36e","name":"Dashboard Log","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1600,"y":320,"wires":[]},{"id":"609cc60c.3f74b8","type":"ui_numeric","z":"287281f6.f4c36e","name":"","label":"maxSound","tooltip":"","group":"99d5b80a.85fe28","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"maxSound","format":"{{value}}","min":"400","max":"800","step":"20","x":510,"y":360,"wires":[["d16c19b7.da70b8","e7685824.bf0ef8"]]},{"id":"95a7df38.83acc","type":"ui_form","z":"287281f6.f4c36e","name":"","label":"Un formulaire Black BOX","group":"97f148db.98ef78","order":0,"width":0,"height":0,"options":[{"label":"Prenom","value":"Texte","type":"text","required":true,"rows":null},{"label":"Numero","value":"Nombre","type":"number","required":false,"rows":null},{"label":"Un email","value":"email","type":"email","required":false,"rows":null},{"label":"Un mot de passe","value":"Mot de passe","type":"password","required":false,"rows":null}],"formValue":{"Texte":"","Nombre":"","email":"","Mot de passe":""},"payload":"","submit":"Enregistre","cancel":"effacement","topic":"Formulaire","x":590,"y":560,"wires":[["e7685824.bf0ef8"]]},{"id":"e7685824.bf0ef8","type":"function","z":"287281f6.f4c36e","name":"Enregistre les événements","func":"// Créé une variable pour stocker le journal du dashboard si inexistante\n// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Supprime le plus anciens message si > 20\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n// Enregistre les messages du dashboard pour le prochain affichage\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// Affiche le journal des messages\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"x":1320,"y":320,"wires":[["6937b7ad.7f0a08","781fb416.27f4ec"]]},{"id":"781fb416.27f4ec","type":"ui_template","z":"287281f6.f4c36e","group":"a93c27a7.fcacd8","name":"Journal des événement du Dashboard","order":1,"width":"8","height":"10","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1670,"y":400,"wires":[[]]},{"id":"722381db.36211","type":"ui_numeric","z":"287281f6.f4c36e","name":"","label":"maxCo2","tooltip":"","group":"99d5b80a.85fe28","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"maxCo2","format":"{{value}}","min":"7","max":"40","step":"","x":520,"y":280,"wires":[["94f5498f.be4508","e7685824.bf0ef8"]]},{"id":"cef11b89.cb6568","type":"ui_numeric","z":"287281f6.f4c36e","name":"","label":"minCo2","tooltip":"","group":"99d5b80a.85fe28","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"minCo2","format":"{{value}}","min":"0","max":"7","step":"","x":520,"y":320,"wires":[["9e4cbb2c.94d788","e7685824.bf0ef8"]]},{"id":"b80a2c09.f9c5d","type":"ui_numeric","z":"287281f6.f4c36e","name":"","label":"minSound","tooltip":"","group":"99d5b80a.85fe28","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"minSound","format":"{{value}}","min":0,"max":"30","step":"","x":520,"y":400,"wires":[["9fb235a1.85aef8","e7685824.bf0ef8"]]},{"id":"874befe.16ef91","type":"ui_numeric","z":"287281f6.f4c36e","name":"","label":"maxTemperature","tooltip":"","group":"99d5b80a.85fe28","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"maxTemperature","format":"{{value}}","min":"10","max":"50","step":"1","x":490,"y":440,"wires":[["f8fc483.940feb8","e7685824.bf0ef8"]]},{"id":"16ed754e.10918b","type":"ui_numeric","z":"287281f6.f4c36e","name":"","label":"minTemperature","tooltip":"","group":"99d5b80a.85fe28","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"minTemperature","format":"{{value}}","min":"-10","max":"20","step":"1","x":500,"y":480,"wires":[["31497143.b8477e","e7685824.bf0ef8"]]},{"id":"cffc99a2.fabe18","type":"function","z":"287281f6.f4c36e","name":"","func":"var profile = global.get('profile');\nvar msg1 = {payload: profile.maxCo2};\nvar msg2 = {payload: profile.minCo2};\nvar msg3 = {payload: profile.maxSound};\nvar msg4 = {payload: profile.minSound};\nvar msg5 = {payload: profile.maxTemperature};\nvar msg6 = {payload: profile.minTemperature};\nreturn [[msg1],[msg2],[msg3],[msg4],[msg5],[msg6]];","outputs":6,"noerr":0,"x":250,"y":380,"wires":[["722381db.36211"],["cef11b89.cb6568"],["609cc60c.3f74b8"],["b80a2c09.f9c5d"],["874befe.16ef91"],["16ed754e.10918b"]]},{"id":"9ca0648b.c72948","type":"inject","z":"287281f6.f4c36e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":90,"y":380,"wires":[["cffc99a2.fabe18"]]},{"id":"94f5498f.be4508","type":"function","z":"287281f6.f4c36e","name":"","func":"var profile = global.get('profile');\nvar num = msg.payload;\nprofile.maxCo2 = num;\n\n","outputs":1,"noerr":0,"x":650,"y":280,"wires":[[]]},{"id":"9e4cbb2c.94d788","type":"function","z":"287281f6.f4c36e","name":"","func":"var profile = global.get('profile');\nvar num = msg.payload;\nprofile.minCo2 =num;\n\n","outputs":1,"noerr":0,"x":650,"y":320,"wires":[[]]},{"id":"d16c19b7.da70b8","type":"function","z":"287281f6.f4c36e","name":"","func":"var profile = global.get('profile');\nvar num = msg.payload;\nprofile.maxSound=num;\n","outputs":1,"noerr":0,"x":650,"y":360,"wires":[[]]},{"id":"9fb235a1.85aef8","type":"function","z":"287281f6.f4c36e","name":"","func":"var profile = global.get('profile');\nvar num = msg.payload;\nprofile.minSound = num;\n\n","outputs":1,"noerr":0,"x":650,"y":400,"wires":[[]]},{"id":"f8fc483.940feb8","type":"function","z":"287281f6.f4c36e","name":"","func":"var profile = global.get('profile');\nvar num = msg.payload;\nprofile.maxTemperature =num;\n\n","outputs":1,"noerr":0,"x":650,"y":440,"wires":[[]]},{"id":"31497143.b8477e","type":"function","z":"287281f6.f4c36e","name":"","func":"var profile = global.get('profile');\nvar num = msg.payload;\nprofile.minTemperature = num;\n\n","outputs":1,"noerr":0,"x":650,"y":480,"wires":[[]]},{"id":"44a428f5.806088","type":"function","z":"287281f6.f4c36e","name":"","func":"var profile = global.get('profile');\nvar msg = {payload: profile.maxSound};\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":720,"wires":[["6c9c62be.e6baac"]]},{"id":"7711f806.8224a8","type":"inject","z":"287281f6.f4c36e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":720,"wires":[["44a428f5.806088"]]},{"id":"6c9c62be.e6baac","type":"debug","z":"287281f6.f4c36e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":720,"wires":[]},{"id":"ad835b1b.3fa988","type":"function","z":"6859150b.9e857c","name":"filter","func":"\nif(msg.payload >= 0 && msg.payload <= 100){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":450,"y":360,"wires":[["e5233117.992c1","349e986f.4aadc8","bf3b44d6.8630d8"]]},{"id":"d65dfa33.0ff0b8","type":"function","z":"6859150b.9e857c","name":"filter","func":"if(msg.payload >= 0 && msg.payload <= 1000){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":450,"y":580,"wires":[["386b3da5.c589f2","d1b7b3ce.02762","79fccd2.0477734"]]},{"id":"6203086d.e2cf98","type":"debug","z":"6859150b.9e857c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":1200,"wires":[]},{"id":"b73979e6.2ebe88","type":"function","z":"6859150b.9e857c","name":"filter","func":"if(msg.payload.temperature <= 150   ){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":450,"y":120,"wires":[["f368325.f9508d","d2168c77.c2d6f","3d597345.84a52c"]]},{"id":"3d597345.84a52c","type":"ui_text","z":"6859150b.9e857c","group":"4d502c02.b47674","order":2,"width":0,"height":0,"name":"Temp/Humd","label":"Temperature","format":"{{msg.payload.temperature}}","layout":"row-spread","x":850,"y":180,"wires":[]},{"id":"98bb2a1d.118e28","type":"mosca in","z":"cedadc03.f4b3e","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":190,"y":380,"wires":[["f359240.9ac53e"]]},{"id":"f359240.9ac53e","type":"debug","z":"cedadc03.f4b3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":380,"wires":[]},{"id":"ad04d949.0bce98","type":"delay","z":"1da6aeb4.d4ed81","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":880,"wires":[["b8553cdb.6903c"]]},{"id":"b8553cdb.6903c","type":"function","z":"1da6aeb4.d4ed81","name":"desactive accelerometer","func":"global.set(\"accelerometerDanger\", false);\nmsg.payload = false\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":880,"wires":[["4abe5539.b57a1c"]]},{"id":"25ea2bb0.633f14","type":"function","z":"6859150b.9e857c","name":"parse","func":"msg.payload.split(\" \");\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1100,"wires":[[]]},{"id":"3bf1e78d.7b7258","type":"switch","z":"1da6aeb4.d4ed81","name":"need to update ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":880,"wires":[["53d85418.d8d3fc","ad04d949.0bce98"]]},{"id":"4abe5539.b57a1c","type":"mqtt out","z":"1da6aeb4.d4ed81","name":"send false fall","topic":"fall","qos":"","retain":"","broker":"365a1c07.e5f924","x":1400,"y":880,"wires":[]}]